@model HouseRental.Common.ReservationRequest
@{
    ViewData["Title"] = "Reserve";
}

<h1>Reserve</h1>

<div class="row">
    <form asp-controller="House" asp-action="ReserveHouse" method="post">
        <div class="form-group">
            <label class="" asp-for="Email"></label>
            <input class="form-control" asp-for="Email" /> <br />
            <span asp-validation-for="Email"></span>

            <label asp-for="FromDate"></label>
            <input class="form-control" asp-for="FromDate" value="2019-01-01"/> <br />
            <span asp-validation-for="FromDate"></span>

            <label asp-for="ToDate"></label>
            <input class="form-control" asp-for="ToDate" value="2019-01-01"/> <br />
            <span asp-validation-for="ToDate"></span>

            <input asp-for="HouseId" value="@Model.HouseId" type="hidden" />
        </div>
        <input type="submit" class="btn btn-info" value="Post"/>
    </form>
</div>